<div id="bookcontent">	
	<div class="col-lg-4 isotope-item brands">
        <div class="portfolio-item">
            <a href="http://oshodhara.org.in/admin/{{BOOK_THUMB}}" download target="_blank">
                <span class="thumb-info thumb-info-lighten">
                    <span class="thumb-info-wrapper">
                        <img src="http://oshodhara.org.in/admin/{{BOOK_THUMB}}" class="img-fluid" alt="">
                        <span class="thumb-info-title">
                            <span class="thumb-info-inner">{{BOOK_TITLE}}</span>
                            <span class="thumb-info-type">Brand</span>
                        </span>
                        <span class="thumb-info-action">
                            <span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                        </span>
                    </span>
                </span>
            </a>
        </div>
    </div>
</div>
