
<div id="faqAccordianContent">
    <div class="panel panel-default pgl-panel">
        <div class="panel-heading">
            <h4 class="panel-title"> <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse"><p>
                
            
            {{question}}</p></a> </h4>
        </div>
        <div class="panel-collapse collapse in" id="collapseOne">
            <div class="panel-body">

                <p>{{answer}}</p>
            </div>
        </div>
    </div>
</div>

