<div id="programContent">	
     <div class="sp11">
        <h3><a href="{{masterLink}}">{{programTitle}}</a></h3></div>
    <div class="thumb-item-img text-center">
        <br>

        <img src="images/1p.jpg" alt="">

    </div>
    <p>{{content}} </p>
    <br>

    <div ccontentlass="lefi-vedio-sp11 text-right">
        <p class="fgfg"><a href="{{fotterLink}}">{{fottertext}}</a> </p>
    </div>
</div>


<div id="mastercontent">	
    <div class="thumb-item-pp">
        <h2><a href="{{masterLink}}">{{mastereTitle}}</a></h2>

        <p>{{content}}</p>
        <br>
    </div>
    <br>

    <div class="lefi-vedio-sp1"> </div>

    <div class="lefi-vedio-sp1 text-right " style="float:right">
        <p class="product-cat text-right">
            <a href="{{fotterLink}}">{{fottertext}}</a>
        </p>
    </div>
</div>



<div id="indexExploreMoreContent">  

    <div class="row">
        <div class="col-md-9">
            <div class="content">
                <h1>{{exploreTitle}}<span class="text-colortwo">{{exploreName}}</span> </h1>
            </div>
        </div>
        <div class="col-md-3">
            <a href="{{masterLink}}">
                <div class="large-button">
                    <span>{{fottertext}}</span>
                </div>
            </a>

        </div>
    </div>
</div>