<div id="categoryContent">	
    <li id="programCateView_{{categoryid}}">
        <a href="programe.php">{{categoryname}}<i class="fa fa-angle-right pull-left"></i></a>
        <ul id="programListHolder_{{categoryid}}" class="treeview-menu">            

        </ul>
    </li>
</div>

<div id="programListContent">
    <li id=programNameView_{{programid}}_{{categoryid}}><a href="programe.php?programIndex={{programid}}&categoryIndex={{categoryid}}"><i class="fa fa-angle-right"></i>
        {{#customlabel}}
        {{customCounter}}. 
        {{/customlabel}} 
     {{programname}}</a></li>
</div>

<div  id="searchItemContent">
    <div class="col-xs-12 col-sm-12 col-md-6 searchItemCls">
        {{#programid}}
        <a href="programe.php?programIndex={{programid}}">            
            <div>
                <span class="programName">{{programname}} </span>                                    
            </div>

            <span class="programName programDescCls">{{shortdescription}}
            </span>
        </a>
        {{/programid}}
        {{#dhyankendraid}}
            <a href="centers.php?centerid={{dhyankendraid}}">            
                <div>
                    <span class="programName">{{dhyankendraname}} </span>                                    
                </div>

                <span class="programName programDescCls">{{Address1}}
                </span>
            </a>
        {{/dhyankendraid}}
    </div>
</div>