<div id="programContent" class="container">
    <div id="program_{{od_pg_index}}" class="row">
        <div class="col">
            <div class="portfolio-title">
                <div class="row">
                    <div class="portfolio-nav-all col-lg-1">
                        <a href="portfolio-single-small-slider.html" data-tooltip data-original-title="Back to list"><i class="fa fa-th"></i></a>
                    </div>
                    <div class="col-lg-10 text-center">
                        <h2 class="mb-0">{{od_pg_name}}</h2>
                    </div>
                    <div class="portfolio-nav col-lg-1">
                        <a href="program.html#{{od_pg_pre_index}}" class="portfolio-nav-prev" data-tooltip data-original-title="Previous"><i class="fa fa-chevron-left"></i></a>
                        <a href="program.html#{{od_pg_next_index}}" class="portfolio-nav-next" data-tooltip data-original-title="Next"><i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>

            <hr class="tall">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">

            <div id="programImage_{{od_pg_index}}" class="owl-carousel owl-theme" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 3000}">
                {{#od_pg_image}}
                    <div>
                        <span class="img-thumbnail d-block">
                            <img alt="" class="img-fluid" src="{{.}}">
                        </span>
                    </div>
                {{/od_pg_image}}
            </div>
        </div>

        <div class="col-lg-8">

            <div class="portfolio-info">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Program Description</h5>
                    </div>
                    <div class="col-md-6 text-left text-lg-right">
                        <ul>
                            <li>
                                <a href="#" data-tooltip data-original-title="Like"><i class="fa fa-heart"></i>14</a>
                            </li>
                            <li>
                                <i class="fa fa-calendar"></i> 01 January 2017
                            </li>
                            <li>
                                <i class="fa fa-tags"></i> <a href="#">Brand</a>, <a href="#">Design</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <p class="mt-2">{{od_pg_desc}}</p>
            <ul class="portfolio-details">
                <li>
                    <h5 class="mt-2 mb-1">Prequired Program</h5>

                    <ul class="list list-inline list-icons">
                        <li class="list-inline-item"><i class="fa fa-check-circle"></i> Aanad Pragya</li>
                        <li class="list-inline-item"><i class="fa fa-check-circle"></i> Sammohan Pragya</li>
                        <li class="list-inline-item"><i class="fa fa-check-circle"></i> Mala</li>
                        <li class="list-inline-item"><i class="fa fa-check-circle"></i> Health program</li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>

    <div class="row">
        <div class="col">

            <hr class="tall mt-4">

            <h4 class="mb-3 text-uppercase">Program <strong>Pics</strong></h4>
                
            <div class="row">
                {{#od_pg_image}}
                    <div class="col-12 col-sm-6 col-lg-3 mb-4">
                        <div class="portfolio-item">
                            <a href="portfolio-single-small-slider.html">
                                <span class="thumb-info thumb-info-lighten">
                                    <span class="thumb-info-wrapper">
                                        <img src="{{.}}" class="img-fluid" alt="">
                                        <span class="thumb-info-title">
                                            <span class="thumb-info-inner">Samadhi</span>
                                        </span>
                                        <span class="thumb-info-action">
                                            <span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                {{/od_pg_image}}
<!-- 

                <div class="col-12 col-sm-6 col-lg-3 mb-4">
                    <div class="portfolio-item">
                        <a href="portfolio-single-small-slider.html">
                            <span class="thumb-info thumb-info-lighten">
                                <span class="thumb-info-wrapper">
                                    <img src="img/projects/project-2.jpg" class="img-fluid" alt="">
                                    <span class="thumb-info-title">
                                        <span class="thumb-info-inner">Identity</span>
                                        <span class="thumb-info-type">Logo</span>
                                    </span>
                                    <span class="thumb-info-action">
                                        <span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-4">
                    <div class="portfolio-item">
                        <a href="portfolio-single-small-slider.html">
                            <span class="thumb-info thumb-info-lighten">
                                <span class="thumb-info-wrapper">
                                    <img src="img/projects/project-3.jpg" class="img-fluid" alt="">
                                    <span class="thumb-info-title">
                                        <span class="thumb-info-inner">Watch Mockup</span>
                                        <span class="thumb-info-type">Brand</span>
                                    </span>
                                    <span class="thumb-info-action">
                                        <span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-4">
                    <div class="portfolio-item">
                        <a href="portfolio-single-small-slider.html">
                            <span class="thumb-info thumb-info-lighten">
                                <span class="thumb-info-wrapper">
                                    <img src="img/projects/project-4.jpg" class="img-fluid" alt="">
                                    <span class="thumb-info-title">
                                        <span class="thumb-info-inner">Three Bottles</span>
                                        <span class="thumb-info-type">Logo</span>
                                    </span>
                                    <span class="thumb-info-action">
                                        <span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div> -->
            </div>

        </div>
    </div>

</div>  