<div id="quotescontent">	
    <div id="quotes_{{QUO_ID}}">
        <div class="col">
            <div class="testimonial testimonial-primary">
                <blockquote>
                    <p>{{QUO_DESC}}</p>
                </blockquote>
                <div class="testimonial-arrow-down"></div>
                <div class="testimonial-author">
                    <div class="testimonial-author-thumbnail img-thumbnail">
                        <img src="assets/img/clients/client-1.jpg" alt="">
                    </div>
                    <p><strong>{{QUO_AUTHOR}}</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
