<tbody id="programScheduleContent">
        <tr>
            <td>
                <table width="100%" border="0">
                    <tbody>
                        <tr>
                            <td><strong>{{programData.programname}}</strong></td>
                        </tr>
                        <tr>
                            <td>Mumbai</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td><span class="form-group"><div class="form-group">{{start_date}} to {{end_date}}</div> </span></td>
            <td>
                <table width="100%" border="0">
                    <tbody>
                        <tr>
                            <td><strong>Conducted by</strong></td>
                        </tr>
                        <tr>
                            <td>{{eligibility}}, {{guidelines}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table width="100%" border="0" cellpadding="2" cellspacing="2">
                    <tbody>
                        <tr>
                            <td align="right">
                                <input type="submit" value="BOOK MY SEAT " class="btn btn-primary" data-loading-text="Loading...">
                            </td>
                        </tr>
                        <tr>
                            <td height="56" align="right" valign="bottom">
                                <a href="comingSoon.html" data-toggle="modal" data-target="#myModal">
                                    <input type="submit" value="VIEW DETAILS" class="btn btn-primary" data-loading-text="Loading...">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>

