.bodyCls{
	display: inline-block;
	width: 100%;
}
.paddingNone{
    padding: 0px !important;
}
.txtClrWhite{
	color: white !important;
}
.marginAuto{
	margin: auto !important;
}
.listStyleNone{
	list-style: none !important;
}
.fntSize17{
	font-size: 14px;
}
.fontSize15{
	font-size: 15px;
}
.fontSize16{
	font-size: 16px;
}
.fntSize20{
	font-size: 20px;
}
.fntSize25{
	font-size: 25px;
}
.fntSize35{
	font-size: 35px;
}
.disBlock{
	display: block;
}
.disInlineBlock{
	display: inline-block;
}
.cursorPointer{
	cursor: pointer;
}
.bgWhite{
	background-color: white;
}
.displayNone{
	display: none;
}