
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card hr {
    margin-right: 0;
    margin-left: 0;
  }


.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card .list-group:first-child {
    
}

.collapse.show {
    display: block;
}
.accordion .card-header a {
    color: #f78706;
}

.accordion .card-header a {
    display: block;
    padding: 10px 20px;
}

}
.m-0 {
    margin: 0!important;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-title {
    margin-bottom: .75rem;
}