.bgClr{
	background: rgb(39, 77, 168);
    opacity: 0.93;
}
.headerHolder{
    padding: 7px 30px;
    background-color: green;
    margin-bottom: 5px;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    display: inline-block;
    z-index: 10;
}
.homeIcon{
	background: #03a9f4;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 7px 7px;
    box-shadow: 0px 0px 10px 0px #0000003b;
    margin-right: 10px;
    margin-top: 3px;
}
.homeIcon .fa-home{
	width: 25px;
    height: 25px;
    color: white;
}
.headerTxtMargin{
	margin-top: 10px !important;
}
.pricingTabHolder{
	padding: 12px 20px;
}
.pricingTabHolder{
	border: 2px solid #03a9f4;
    background-color: #f4f4f4;
    min-height: 450px;
    margin-bottom: 0px;
    margin-top: 30px;
}
.clrBlue{
	color: #03a9f4;
}
.pricingTabHolder:hover{
	background-color: #a0dbf5f5;
    box-shadow: 0px 0px 10px 0px #d8ddea;
    border: 1px solid #a0dbf5f5
}
.pricingTabHolder:hover .changeClrToWhite{
	color: white !important;
}
.featureUl{
	margin-top: 0px;
	padding-bottom: 12px;
    border-bottom: 1px solid gainsboro;
    padding-left: 0px;
}
.featureLi{
	line-height: 2em;
}
.customizeBtn{
    border: none;
    background-color: #36aef4;
    color: white;
    font-size: 11px;
    line-height: 2em;
    padding: 2px 10px;
    margin-top: 7px;
    border-radius: 25px;
}
.pricingTabHolder:hover .customizeBtn{
	background-color: #18254a !important;
}
.reviewsHolderSpan{

}
.slider{
  width:100%;
  margin:20px auto;
  text-align: center;
  padding:20px;
  color:white;
  .parent-slide{padding:15px;}
  img{display: block;margin:auto;}
}
.customizeAddOnHolder{
	width: 75%;
    display: inline-block;
    padding: 20px;
    margin-top: 30px;
    border-radius: 7px;
    box-shadow: 0px 0px 7px 0px gainsboro;
    border: 2px solid gainsboro
}
.contactLi{
	padding: 10px 0px;
}
.pd20{
	padding: 20px;
}
.pd10{
	padding: 15px 0px;
}
.pdSide{
	margin-right: 20px;
}
.contactInput{
	padding: 10px;
    width: 100%;
    border: 1px solid #c7c7c7;
    border-radius: 7px;
}
.contactInfoSpan{
	width: 47%;
}
.contactMsg{
	height: 85px;
    resize: none !important;
}
.submitBtn{
	border: none;
    background-color: #36aef4;
    color: white;
    font-size: 14px;
    line-height: 2em;
    padding: 7px 20px;
    border-radius: 10px;
}
.addressClr{
	color: #adabab;
}   