.sliderHolder{
  position: fixed;
  background-color: white;
  right: 0px;
  box-shadow: 0px 0px 10px 0px gainsboro;
  border-left: 1px solid #f3f3f3;
  height: 100%;
}
.packageNameMainCls{
  margin-top: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}
.featureAddOnsCls{
  margin-top: 20px;
  overflow: hidden;
}
.studentCountAlignment{
  padding: 0px 5px;
}
.studentInputHolder{
  width: 95px;
}
.studentInput{
    width: 100%;
    border: 1px solid #c7c7c7cc;
    border-radius: 9px;
    resize: none;
    height: 27px;
    text-align: center;
    vertical-align: middle;
}
.featureFragment{
  margin-top: 20px;
}
.addOnImgs{
  width: 100%;
  height: 100%;
}
.addOnImgsHolder{
    width: 75px;
    height: 75px;
    margin-right: 5px;
    box-shadow: 1px 1px 5px 2px #e0caf1;
    margin-left: 5px;
    vertical-align: middle;
}
.addOnLi{
  width: 100%;
  padding: 5px 0px;
}
.addOnNameWidth{
  width: calc(100% - 145px);
  vertical-align: middle;
}
.studentCounterIcon{
    margin-top: 4px;
    font-size: 15px;
    border-radius: 50%;
    border: 1px solid #9c9c9c;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0px 3px;
}
.studentCounterIcon .fa-plus{
  width: 15px;
  height: 15px;
  color: #797979;
  /* right: inherit; */
  position: relative;
  right: 5px;
  top: 1px;
}
.studentCounterIcon .fa-minus{
  width: 15px;
  height: 15px;
  color: #797979;
}

.radioBtnPayment {
  /* display: inline-block; */
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  width: 130px;
  font-size: 15px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radioBtnPayment input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkMarkPayment {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #e5f3fb;
  border-radius: 50%;
}
.studentInput::-webkit-scrollbar{
  -moz-appearance: none;
  width: 0px;
}
.studentInput::-moz-scrollbar{
  -moz-appearance: none;
  width: 0px;
}
.radioBtnPayment:hover input ~ .checkMarkPayment {
  background-color: #c8dce6;
}
.radioBtnPayment input:checked ~ .checkMarkPayment {
  background-color: #31a9f4;
}
.checkMarkPayment:after {
  content: "";
  position: absolute;
  display: none;
}
.radioBtnPayment input:checked ~ .checkMarkPayment:after {
  display: block;
}
.radioBtnPayment .checkMarkPayment:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}