.myButton {
  background-color: #41bd62;
  border-radius: 14px;
  border: 1px solid #10821d;
  display:inline-block;
  cursor:pointer;
  color: #ffffff;
  font-family: Arial;
  font-size:17px;
  padding: 5px 15px;
  text-decoration:none;
  text-shadow: 1px 1px 0px #2F6626;
}
.myButton:hover {
  background-color:#5cbf2a;
}
.myButton:active {
  position:relative;
  top:1px;
}

.displayNone{
  display: none;
}

.serachDialog{
    border: 1px solid #d9ebd0;
    border-bottom: 1px solid #e2caca;
    position: absolute;
    top: 60px;
    padding: 10px 15px 20px 15px;
    left: 0px;
    z-index: 200;
    box-shadow: 1px 4px 4px #a79999;
    color: #4d5a1a;
    background: white;
    border-radius: 0px 0px 20px 20px;
}

.searchHeading {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.searchLabel {
  background-color: #ffffff;
  padding: 5px 2px 2px 0px;
  margin-bottom: 6px;
  margin-left: 20px;
  color: #86843d;
  border-bottom: 2px solid #faa133;
  display: inline-block;
}

.programName{
  color: #4c3232;
  font-weight: 600;
  display : inline-block;
  text-decoration: inherit;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.programDescCls{

}


.searchItemCls{
  border: 1px solid #d9ebd0;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 2px;
  height: 80px;
  display: inline-block;
  box-shadow: 0px 1px 7px #98c182;
  width: calc(50% - 10px);
}

select#languageSelector {
    padding: 8px 2px;
}


.pgl-panel .collapse.in .panel-body {
    border-top: none;
      padding: 15px;
};

.form-mgr.clearfix.searchHolder {
    background-color: white !important;
}

.inner-slide-com-cot.clearfix {
    background: white;
    margin: 15px;
}

.topSearchSpan{
    width: calc(100% - 110px);
    display: inline-block;
}


.titleContent {
    vertical-align: middle;
    padding: 34px 25px;
    heigh: 80px;
}

.col-md-9.programTitleDiv {
    /* height: 80px; */
    vertical-align: middle;
    display: inline-block;
}


div#masterAccordionHolder {
    margin: 15px;
    background-color: white;
}

.panel.panel-default.pgl-panel {
    position: relative;
}


.thumb-item {
    background: white;
}

.contentWhiteBG{
    background-color: white;
    margin: 15px;
}